@import url('https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400;500;600;700&display=swap');
@import url('/utils.css');

:root {
  --bi-global-color-0: #0170B9;
  --bi-global-color-1: #3a3a3a;
  --bi-global-color-2: #3a3a3a;
  --bi-global-color-3: #4B4F58;
  --bi-global-color-4: #F5F5F5;
  --bi-global-color-5: #FFFFFF;
  --bi-global-color-6: #E5E5E5;
  --bi-global-color-7: #424242;
  --bi-global-color-8: #000000;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: 'Jost', sans-serif;
  overflow-x: hidden;
}


a {
  color: inherit;
  text-decoration: none !important;
}

:hover{
  transition: all 0.1s;
}

a:hover{
  color: var(--bi-global-color-0) !important;
  transition: all 0.1s;
}

.bi-heading-2{
  font-size: 16pt;
  color: var(--bi-global-color-2);
}

p{
  font-size: 13pt !important;
  line-height: 168%;
  color: var(--bi-global-color-3);
}

/* color */
.text-gc-0{
  color: var(--bi-global-color-0);
}
.text-gc-1{
  color: var(--bi-global-color-1);
}
.text-gc-2{
  color: var(--bi-global-color-2);
}
.text-gc-3{
  color: var(--bi-global-color-3);
}
.text-gc-4{
  color: var(--bi-global-color-4);
}
.text-gc-5{
  color: var(--bi-global-color-5);
}
.text-gc-6{
  color: var(--bi-global-color-6);
}
.text-gc-7{
  color: var(--bi-global-color-7);
}
.text-gc-8{
  color: var(--bi-global-color-8);
}

/* background color */
.bg-gc-0{
  background-color: var(--bi-global-color-0);
}
.bg-gc-1{
  background-color: var(--bi-global-color-1);
}
.bg-gc-2{
  background-color: var(--bi-global-color-2);
}
.bg-gc-3{
  background-color: var(--bi-global-color-3);
}
.bg-gc-4{
  background-color: var(--bi-global-color-4);
}
.bg-gc-5{
  background-color: var(--bi-global-color-5);
}
.bg-gc-6{
  background-color: var(--bi-global-color-6);
}
.bg-gc-7{
  background-color: var(--bi-global-color-7);
}
.bg-gc-8{
  background-color: var(--bi-global-color-8);
}

.bi-content-padding{
  padding: 15px;
}

.bi-section-space{
  margin-top: 40px;
}

@media (min-width: 1200px){

  .container, .container-lg, .container-md, .container-sm, .container-xl {
      max-width: 1220px !important;
  }
}

